{% extends '_base.html' %}

{% block title %}О хомяках и не только{% endblock %}

{% block content %}
    <h1>Правдивая история цифровых хомяков</h1>
    <p>В 2000-х каждый уважающий себя сайт имел "хомяк" - так называли главную страницу.</p>
    <p>Хомяки были пушистыми, дружелюбными и полными надежд. Они верили, что интернет объединит человечество.</p>
    <p>Но пришли социальные сети и сказали: "Нет больше ваших хомяков. Будет один большой хомяк для всех!"</p>
    <p>А потом пришли мессенджеры и сказали: "Нет больше ваших соцсетей. Будет один чат на все случаи жизни!"</p>
    <p>Мораль: в интернете все циклично. Готовьтесь к возвращению хомяков в 2030-х!</p>
    {% with page="О хомяках", number=2 %}
        {% include "_card.html" %}
    {% endwith %}
{% endblock %}