{% extends '_base.html' %}

{% block title %}Хомячьи вопросы{% endblock %}

{% block content %}
    <h1>Часто задаваемые хомячьи вопросы</h1>

    <h3>Почему "хомяк"?</h3>
    <p>Потому что "домашняя страница" звучало слишком скучно, а хомяки - милые и забавные.</p>

    <h3>Куда делись все хомяки?</h3>
    <p>Они эволюционировали в сторис и тиктоки. Это печально, но факт.</p>

    <h3>Вернутся ли хомяки?</h3>
    <p>Наш отдел хомячьих прогнозов предсказывает их возвращение к 2035 году в виде NFT-хомяков в метавселенной.</p>

    <h3>Как я могу помочь хомякам?</h3>
    <p>Продолжайте называть главную страницу "хомяком". Традиции должны жить!</p>

    {% with page="FAQ", number=3 %}
        {% include "_card.html" %}
    {% endwith %}
{% endblock %}