{% extends '_base.html' %}

{% block title %}Хомячья ностальгия{% endblock %}

{% block content %}
    <h1>Добро пожаловать в музей цифровых хомяков!</h1>
    <p>Когда-то давно, в эпоху Web 2.0, эту страницу называли "хомяком". Не спрашивайте почему - таковы были древние интернет-традиции.</p>
    <p>Здесь могли бы быть ваши статусы, фотографии котиков и бесконечные "5 причин почему...". Но социальные сети съели хомяков. А потом и сами социальные сети превратились в универсальные мессенджеры.</p>
    <p><span class="blink">Круг замкнулся. Хомяк умер. Да здравствует хомяк!</span></p>
    {% with page="Домашняя", number=1 %}
        {% include "_card.html" %} <br>
    {% endwith %}
{% endblock %}